.description-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 50%;
  /* height: 80vh; */
  margin: 10px 0 10px 20px;
  padding: 20px;
  // border: 1px solid red;
  border-radius: 5px;
}

.description-container a,
a:visited,
a:focus,
a:link {
  color: #494489;
  font-style: italic;
}

.description-container a:hover {
  color: #3f3b74;
}

.description-container > h1 {
  color: #252345;
  // font-size: 3.5rem;
  font-size: 45px;
  font-weight: bold;
}

.description-container > blockquote {
  margin-bottom: 20px;
  position: relative;

  & > p {
    opacity: 0;
    font-size: 1.3rem;
    text-align: center;
    animation-name: standup;
    animation-duration: 1s;
    /* animation-delay: 0.2s; */
    animation-fill-mode: forwards;
  }
}

@keyframes standup {
  0% {
    transform: translateY(100%);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

.description-container ul,
.description-container ul ~ p {
  align-self: flex-start;
  list-style: none;
  font-size: 1.1rem;
}

.description-container ul > li {
  opacity: 0;
  animation-name: fadein;
  animation-duration: 1s;
  animation-delay: 0.5s;
  animation-fill-mode: forwards;

  // font-size: 1.1rem;

  &::before {
    content: '\276F';
    color: #252345;
    font-weight: bold;
    display: inline-block;
    width: 1em;
    margin-left: -1em;
  }
}

@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.description-container ul ~ p {
  opacity: 0;
  margin: 10px 0;

  overflow: hidden;
  white-space: nowrap;
  animation-name: typing;
  animation-duration: 3s;
  animation-timing-function: steps(100, end);
  animation-delay: 1s;
  animation-fill-mode: forwards;

  & > code {
    background: #252345;
    padding: 5px 10px;
    border-radius: 5px;
  }
}

@keyframes typing {
  0% {
    opacity: 0;
    width: 0;
  }
  10% {
    opacity: 1;
  }
  100% {
    opacity: 1;
    width: 100%;
  }
}
