.description-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 50%;
  margin: 10px 0 10px 20px;
  padding: 20px;
  border-right: 1px solid var(--primary-color);
  height: 100%;
  overflow: scroll;
  scrollbar-width: thin;
  scrollbar-color: transparent transparent;
}

.description-container a {
  color: var(--link-color) !important;
  text-decoration: underline !important;

  &:hover {
    color: var(--link-secondary-color) !important;
  }
}

.description-container > h1 {
  color: var(--primary-color);
  font-size: 45px;
  font-weight: bold;
}

.description-container > blockquote {
  margin-bottom: 20px;
  position: relative;

  > p {
    opacity: 0;
    font-size: 1.3rem;
    text-align: center;
    animation-name: stand-up;
    animation-duration: 1s;
    animation-fill-mode: forwards;
  }
}

@keyframes stand-up {
  0% {
    transform: translateY(100%);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

.description-container ul,
.description-container ul ~ p {
  align-self: flex-start;
  list-style: none;
  font-size: 1.1rem;
}

.description-container ul > li {
  opacity: 0;
  animation-name: fadein;
  animation-duration: 1s;
  animation-delay: 0.5s;
  animation-fill-mode: forwards;

  &::before {
    content: '\276F';
    color: var(--primary-color);
    font-weight: bold;
    display: inline-block;
    width: 1em;
    margin-left: -1em;
  }
}

.description-container ul ~ p {
  margin: 10px 0;

  > code {
    background: var(--primary-color);
    padding: 5px 10px;
    border-radius: 5px;
    overflow: hidden;
    white-space: nowrap;
    opacity: 0;
    animation-name: fade-in;
    animation-duration: 1s;
    animation-delay: 1s;
    animation-fill-mode: forwards;
  }
}

@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

// @keyframes typing {
//   0% {
//     opacity: 0;
//     width: 0;
//   }
//   10% {
//     opacity: 1;
//   }
//   100% {
//     opacity: 1;
//     width: 100%;
//   }
// }
