.error-popup {
  max-width: 300px;
  max-height: 150px;

  border: 1px solid var(--primary-color);
  border-radius: 5px;
  background: var(--primary-color);

  position: absolute;

  right: 10px;
  bottom: -100px;
  opacity: 0;
  animation: slide-from-bottom 0.4s forwards, slide-to-bottom 0.4s 5s forwards;

  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;

  padding: 5px;

  > div {
    padding: 10px;
    overflow: scroll;
  }
}

@keyframes slide-from-bottom {
  from {
    bottom: -100px;
    opacity: 0;
  }
  to {
    bottom: 10px;
    opacity: 1;
  }
}

@keyframes slide-to-bottom {
  from {
    bottom: 10px;
    opacity: 1;
  }
  to {
    bottom: -100px;
    opacity: 0;
  }
}
