.app-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.title {
  display: inline-block;
  font-weight: 400;
  font-size: 50px;
  position: relative;
  margin: 0px 0 5px 10px;
  cursor: pointer;
}

.title-fade-in {
  font-weight: 700;
  color: var(--primary-color);
  text-decoration: underline;
}

.title-fade-from-left {
  animation: title-fade-from-left 1s ease-in-out forwards;
  position: relative;
  opacity: 0;
}

@keyframes title-fade-from-left {
  0% {
    transform: translateX(-100%);
    opacity: 0;
    left: -100%;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
    left: 0;
  }
}

.title-fade-in {
  animation: title-fade-in 1s ease-in-out 1s forwards;
  position: relative;
  opacity: 0;
}

@keyframes title-fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.title-fade-from-top {
  position: relative;
  opacity: 0;
  animation: title-fade-from-top 1s ease-in-out 1s forwards;
}

@keyframes title-fade-from-top {
  0% {
    transform: translateY(-100%);
    opacity: 0;
    top: -100%;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
    top: 0;
  }
}

#config_btn_container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px;
  width: 40px;
  height: 40px;
  cursor: pointer;
  opacity: 0;
  animation: title-fade-in 1s ease-in-out 1s forwards;

  #config_btn {
    background-image: url('../assets/icons/config-logo.png');
    width: 30px;
    height: 30px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;

    &:hover {
      background-image: url('../assets/icons/config-alt-logo.png');
    }
  }
}
