.introduction {
  display: flex;
  width: 500px;
  margin: 25px auto 10px auto;

  justify-content: center;
  text-align: center;
  font-size: 1.5rem;

  > p > a {
    color: var(--primary-color);
    font-weight: 700;
    cursor: pointer;
    opacity: 0;
    animation: fade-in 0.5s 1.5s forwards;
  }
}

@media (max-width: 768px) {
  .introduction {
    width: 80%;
  }
}

.introduction-non-keywords {
  color: var(--text-color);
  font-weight: normal;
  cursor: default;
  opacity: 0;
  animation: fade-in 2s 2.5s forwards;
}

@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
