.search-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 350px;
  margin: 10px auto;
  position: relative;
}

.wrapper {
  position: relative;
}

#searchTools {
  display: flex;
  flex-direction: column;
}

#util_search {
  width: 100%;
  height: 50px;
  padding: 10px 28px;
  border: 2px solid #252345;
  border-radius: 5px;
  background: #252345;
  color: #ebebeba3;
  font-size: 1.2rem;

  opacity: 0;
  transform: translateY(-100%);
  animation: fade-in-from-top 0.8s ease 2s forwards;
}

#util_platforms {
  display: flex;
  justify-content: space-around;

  & .platform {
    opacity: 0;
    margin: 10px 0;
    border: 2px solid #252345;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    flex-wrap: wrap;
    overflow: hidden;
    animation: appear 0.8s ease-in-out 2s forwards;
  }

  & .platform-icon {
    width: 20px;
    height: 20px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
  }
}

#util_platforms .platform.selected-platform {
  border: 5px solid #252345;
  opacity: 1;
}

@keyframes appear {
  0% {
    opacity: 0;
    width: 0;
  }
  100% {
    width: 50px;
    opacity: 1;
  }
}

#common > .platform-icon {
  background-image: url('../assets/monitor-logo.png');
}
#linux > .platform-icon {
  background-image: url('../assets/linux-logo.png');
}
#osx > .platform-icon {
  background-image: url('../assets/apple-logo.png');
}
#windows > .platform-icon {
  background-image: url('../assets/windows-logo.png');
}
#android > .platform-icon {
  background-image: url('../assets/android-logo.png');
}

@keyframes fade-in-from-top {
  0% {
    opacity: 0;
    transform: translateY(-100%);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.searchList {
  width: 100%;
  background: #252345;
  border: 1px solid #020024;
  border-radius: 5px;
  overflow: scroll;
  max-height: 250px;
  margin-top: 5px;
  z-index: 999999;
  position: absolute;
  top: 120px;
  left: 0;
}

.searchOption {
  padding: 10px 20px;
  cursor: pointer;
  border: 1px solid #252345;
  border-radius: 5px;
  margin: 8px 8px;

  &:hover {
    background: #020024;
  }
}
