.loader-container {
  display: flex;
  height: 3%;
  margin-bottom: 50px;
  visibility: hidden;
}

.loader-container.loader-visible {
  visibility: visible;
}

/* Modified version of styling taken from https://loading.io/css/ */
.loader {
  position: relative;
  width: 75px;
  align-self: center;
  margin: 0 auto;
}
.loader div {
  display: inline-block;
  position: absolute;
  left: 8px;
  width: 10px;
  background: var(--primary-color);
  animation: loader 0.8s linear infinite;
}
.loader div:nth-child(1) {
  left: 8px;
  animation-delay: -0.24s;
}
.loader div:nth-child(2) {
  left: 32px;
  animation-delay: -0.12s;
}
.loader div:nth-child(3) {
  left: 56px;
  animation-delay: 0s;
}
@keyframes loader {
  0% {
    top: 8px;
    height: 64px;
  }
  50%,
  100% {
    top: 24px;
    height: 32px;
  }
}
