.title {
  display: inline-block;
  font-weight: 400;
  font-size: 50px;
  position: relative;
  margin: 10px 0 5px 10px;

  // border: 4px solid #020024; /* Initial border style */
  // animation: border-animation 1s linear forwards 2s; /* Animation with a delay of 3 seconds */
  // border-radius: 5px;
  // padding: 0 10px;

  // animation: title-border-appear 1s ease-in-out forwards;
}

// @keyframes border-animation {
//   0% {
//     border: 4px solid #020024;
//   }
//   100% {
//     border: 4px solid #252345;
//   }
// }

.title-fade-in {
  font-weight: 700;
  color: #252345;
  text-decoration: underline;
}

.title-fade-from-left {
  animation: title-fade-from-left 1s ease-in-out forwards;
  position: relative;
  opacity: 0;
}

@keyframes title-fade-from-left {
  0% {
    transform: translateX(-100%);
    opacity: 0;
    left: -100%;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
    left: 0;
  }
}

.title-fade-in {
  animation: title-fade-in 1s ease-in-out 1s forwards;
  position: relative;
  opacity: 0;
}

@keyframes title-fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.title-fade-from-top {
  animation: title-fade-from-top 1s ease-in-out 1s forwards;
  position: relative;
  opacity: 0;
}

@keyframes title-fade-from-top {
  0% {
    transform: translateY(-100%);
    opacity: 0;
    top: -100%;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
    top: 0;
  }
}
